@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Login</title>

    @if (TempData["LoginFalse"] != null)
    {
        <div class="alert alert-danger">
            @TempData["LoginFalse"]
        </div>
    }

    @if (TempData["LoginValues"] != null)
    {
        <div class="alert alert-danger">
            @TempData["LoginValues"]
        </div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
        
    <link rel="stylesheet" href="~/css/RegisterLogin.css" type="text/css"> 
    <script src="~/js/RegisterLogin.js" asp-append-version="true"></script>
    
    <div class="EmployeeLogin-page">
        <div class="form">
            <h1>Employee Login</h1>
            <form class="login-form" method="post">
                <input type="text" placeholder="Username" name="txtUsername" />
                <input type="password" placeholder="Password" name="txtPassword" />
                <button asp-action="EmployeeLogin">Login</button>
                <p class="message">
                    Not registered?
                    @Html.ActionLink("Register", "EmployeeRegister", new { controller = "Employee" })
                </p>
                <p class="message">
                    Not an employee?
                    @Html.ActionLink("Login as a farmer", "FarmerLogin", new { controller = "Farmer" })
                </p>
            </form>
        </div>
    </div>
</head>
<body>
</body>
</html>


